/* Global Style */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* Reused Style */
.btn-primary {
    padding: 12px 25px;
    background-color: #E55473;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 18px;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: #d33053;
}

/* Header Section */
header {
    background: rgba(229, 84, 115, 0.10);
    height: 90vh;
    padding-top: 40px;
}

.banner-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-title {
    color: #272727;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.banner-img {
    height: 90vh;
    width: 50%;
}

/* featured section styles */
.featured {
    width: 80%;
    margin: auto;
    padding-top: 60px;
}

.featured-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.featured-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
}

.featured-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.featured-sample {
    text-align: center;
}

.featured-sample-img {
    height: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 250px;
    padding: 50px;
    padding-bottom: 0px;
}

.img2 {
    background: rgba(5, 151, 160, 0.15);
}

.img3 {
    background: rgba(71, 125, 17, 0.15);
}

.featured-flower-name {
    text-decoration: underline;
    color: #272727;
    font-weight: 500;
    margin-top: 5px;
}

/* section services */
.services {
    width: 80%;
    margin: auto;
    padding: 50px; 
    text-align: center;
}

.services-container {
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
}

.services p {
    margin-top: 10px;
}

/* Hot Deal Section */
.hot-deal {
    background: rgba(229, 84, 115, 0.05);
    margin: auto;
    text-align: center;
    padding: 40px 0px;
}

.hot-deal-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hot-deal-title {
    color: #272727;
    font-size: 33px;
    font-weight: 800;
    margin-bottom: 18px;
}

.hot-deal-title span {
    color: #E55473;
}

.hot-deal-description {
    font-weight: 100;
    margin-bottom: 15px;
}

.hot-deal-details {
    width: 50%;
}

/* instagram section added */
.instagram {
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 50px 0px;
}

.instagram-title {
    font-size: 35px;
    margin-bottom: 20px;
}

.instagram-description {
    margin-bottom: 15px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
}

.galary {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.galary-img {
    padding: 5px;
    width: 290px;
}

/* Latest Deals Container */
.latest-deal {
    background: url("../images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 82%;
    margin: 30px auto;
    text-align: center;
}

.latest-deal-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.latest-deal-container h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.latest-deal-container p {
    margin-bottom: 15px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
}

.latest-deal-container form {
    width: 100%;
    display: flex;
    justify-content: center;
}

input[type="email"] {
    width: 40%;
    border: none;
    outline: none;
    padding: 15px;
    margin: 0;
}

input[type="button"] {
    align-content: stretch;
}

/* footer containers */
footer {
    background-color: #111010;
    height: 340px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.footer-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-container h2 {
    font-size: 35px;
}

.footer-container h2 > span {
    color: #E55473;
}

.footer-container p {
    margin-bottom: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
    font-size: 14px;
    margin-top: 20px;
}

.footer-container small {
    color: rgba(255, 255, 255, 0.40);
    margin-top: 20px;
}